{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/columns2

    Admin time setting template.

    Moove 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
    {{>theme_moove/inc_start}}

    <div id="page" class="container-fluid">

            {{{ output.full_header }}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                <section  class="content">
                    {{{ output.main_content }}}
                        <div class="box">
                            <div class="box-header bg-light-blue bg-light-blue-gradient">
                                <h3 class="box-title">@ A Glance</h3>
                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body border-radius-none">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false"><i class="fa fa-handshake-o customicons" aria-hidden="true"></i>&nbsp;<b><font color="#6ba6d4">Partners &amp; Institutes</font></b></a></li>
                                        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-empire customicons"></i>&nbsp;<b><font color="#4e8539">Mentors, Hiring Partners &amp; Courses</font></b></a></li>
                                        <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true"><i class="fa fa-users customicons"></i>&nbsp;<b><font color="#17324e">iTrack Users</font></b></a></li>


                                    </ul>
                                    <div class="tab-content">

                                        <div class="tab-pane" id="tab_1">
                                            <div class="col-lg-3 col-xs-6">
                                              <div class="small-box bg-aqua">
                                                <div class="inner">
                                                  <h3>150</h3>

                                                  <p>Partners</p>
                                                </div>
                                                <div class="icon">
                                                  <i class="fa fa-braille" aria-hidden="true"></i>
                                                </div>
                                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                              </div>
                                          </div>
                                          <div class="col-lg-3 col-xs-6">
                                              <div class="small-box bg-green">
                                                  <div class="inner">
                                                      <h3>53</h3>
                                                      <p>Training Partners / Institutes Rate</p>
                                                  </div>
                                                  <div class="icon">
                                                     <i class="fa fa-university" aria-hidden="true"></i>
                                                  </div>
                                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                              </div>
                                          </div>
                                        </div> 

                                        <div class="tab-pane" id="tab_2">
                                              <div class="col-lg-3 col-xs-6">
                                                <div class="small-box bg-aqua">
                                                  <div class="inner">
                                                    <h3>150</h3>

                                                    <p>Mentors</p>
                                                  </div>
                                                  <div class="icon">
                                                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                                                  </div>
                                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                            </div>
                                            <div class="col-lg-3 col-xs-6">
                                                <div class="small-box bg-green">
                                                    <div class="inner">
                                                        <h3>53</h3>
                                                        <p>Hiring Companies</p>
                                                    </div>
                                                    <div class="icon">
                                                       <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                                    </div>
                                                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-xs-6">
                                                <div class="small-box bg-yellow">
                                                  <div class="inner">
                                                    <h3>44</h3>

                                                    <p>Courses</p>
                                                  </div>
                                                  <div class="icon">
                                                    <i class="fa fa-cube" aria-hidden="true"></i>
                                                  </div>
                                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-xs-6">
                                                <div class="small-box bg-red">
                                                  <div class="inner">
                                                    <h3>65</h3>

                                                    <p>Lessons</p>
                                                  </div>
                                                  <div class="icon">
                                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                                  </div>
                                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane active" id="tab_3">
                                              <div class="col-lg-3 col-xs-6">
                                                  <div class="small-box bg-aqua">
                                                    <div class="inner">
                                                      <h3>150</h3>

                                                      <p>Professors</p>
                                                    </div>
                                                    <div class="icon">
                                                      <i class="fa fa-user" aria-hidden="true"></i>
                                                    </div>
                                                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                              </div>
                                              </div>
                                              <div class="col-lg-3 col-xs-6">
                                                  <div class="small-box bg-green">
                                                      <div class="inner">
                                                          <h3>53</h3>
                                                          <p>Students</p>
                                                      </div>
                                                      <div class="icon">
                                                         <i class="fa fa-users" aria-hidden="true"></i>
                                                      </div>
                                                      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-xs-6">
                                                  <div class="small-box bg-yellow">
                                                    <div class="inner">
                                                      <h3>44</h3>

                                                      <p>New Registrations</p>
                                                    </div>
                                                    <div class="icon">
                                                      <i class="fa fa-sign-in" aria-hidden="true"></i>
                                                    </div>
                                                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                  </div>
                                              </div>
                                              <div class="col-lg-3 col-xs-6">
                                                  <div class="small-box bg-red">
                                                    <div class="inner">
                                                      <h3>65</h3>

                                                      <p>Enquiries & Requests</p>
                                                    </div>
                                                    <div class="icon">
                                                      <i class="fa fa-info" aria-hidden="true"></i>
                                                    </div>
                                                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>

    {{>theme_moove/inc_end}}